USE [master]
GO
/****** Object:  Database [KiThiTotNghiep]    Script Date: 15/01/2025 6:58:54 pm ******/
CREATE DATABASE [KiThiTotNghiep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KiThiTotNghiep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KiThiTotNghiep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KiThiTotNghiep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KiThiTotNghiep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KiThiTotNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KiThiTotNghiep]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 15/01/2025 6:58:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [varchar](10) NOT NULL,
	[DIEM_TOAN] [float] NULL,
	[DIEM_VAN] [float] NULL,
	[DIEM_ANH] [float] NULL,
	[DIEM_VAT_LY_OR_LICH_SU] [float] NULL,
	[DIEM_HOA_HOC_OR_DIA_LY] [float] NULL,
	[DIEM_SINH_HOC_OR_GDCD] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 15/01/2025 6:58:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [varchar](10) NOT NULL,
	[HODEM] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NOISINHSONG] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 15/01/2025 6:58:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MAHS] [varchar](50) NOT NULL,
	[CCCD] [varchar](max) NOT NULL,
	[PASSWORD] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
USE [master]
GO
